[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pikepdf = "*"
docopt = "*"
send2trash = "*"
workflow = {editable = true, path = "."}

[dev-packages]
pyinstaller = "*"
bandit = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"
