<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xilopaint.alfredapp.pdftools</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>01BD5A6C-0E09-40B3-AFDB-AFE7A834CEA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4484868-27E4-45A9-8D6C-637B522C67BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>03FD1C11-F481-4640-8C86-A66946BB6BDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F01DC62C-462E-40B8-9BDE-FAF5660EC33C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B7E15AA-EDD5-4EBD-90CE-C2DBD3484C16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2DB7889-9B91-46E7-BED1-ED9A8C9585C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>166CC59B-C6E1-4E1E-A777-BEEB3B50E6FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEFA51EF-3FC8-4FE7-80AE-44FB778C99B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A961741E-E065-4C7A-9D5B-6F59E283C2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C706960-938F-4C14-899F-4A2675685FBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>674BC503-FB7B-435E-9AB0-54DA1DE7D1AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2412A11E-00A7-400B-90FD-BAEBC00EA23A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEBD82BA-6268-426D-9BFE-62BCD4C27471</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>264B67E5-5011-4DA7-8AF3-4175185C5C81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A961741E-E065-4C7A-9D5B-6F59E283C2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AEFA51EF-3FC8-4FE7-80AE-44FB778C99B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AAFDEB2-9F81-418F-B5D6-479D577D6454</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D6F7F2A-1518-4529-98BA-331FC0F0FBE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>338AF90E-9867-42D0-A94A-1FF88BD3FD5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DF69321-93E6-4FC8-98F3-2BA07D475BBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37B8FB00-AFF1-4723-AE09-C0DE64D9690C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>338AF90E-9867-42D0-A94A-1FF88BD3FD5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D6F7F2A-1518-4529-98BA-331FC0F0FBE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A961741E-E065-4C7A-9D5B-6F59E283C2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AEFA51EF-3FC8-4FE7-80AE-44FB778C99B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DF69321-93E6-4FC8-98F3-2BA07D475BBF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>166CC59B-C6E1-4E1E-A777-BEEB3B50E6FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54A1957A-7C58-490D-9E1F-CE716CDFEEC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>264B67E5-5011-4DA7-8AF3-4175185C5C81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66FA4E4A-8144-4562-A253-E299707EBD64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B7E15AA-EDD5-4EBD-90CE-C2DBD3484C16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>674BC503-FB7B-435E-9AB0-54DA1DE7D1AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01BD5A6C-0E09-40B3-AFDB-AFE7A834CEA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6FDFC63C-AF80-4ECA-9C00-9C778D158009</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A961741E-E065-4C7A-9D5B-6F59E283C2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AEFA51EF-3FC8-4FE7-80AE-44FB778C99B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79C0A050-CA6C-4B0F-B567-3EA24D625B98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEFA51EF-3FC8-4FE7-80AE-44FB778C99B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A961741E-E065-4C7A-9D5B-6F59E283C2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C94D95D-1805-46BC-91D1-29027BFD475E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3993CDF-ED16-4F35-9D9C-BDA5B3C7C1E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3993CDF-ED16-4F35-9D9C-BDA5B3C7C1E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC2CDCE9-1989-4801-A7CA-4F5C268B2790</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6A91646-8622-45F4-B763-4A6ACBAFD08C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2412A11E-00A7-400B-90FD-BAEBC00EA23A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEFA51EF-3FC8-4FE7-80AE-44FB778C99B3</key>
		<array/>
		<key>B4CE4528-F602-48C2-BFB3-71BA78933B1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF8EFD70-FC46-46DA-85B7-5C40E39C3722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC2CDCE9-1989-4801-A7CA-4F5C268B2790</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C015C8BB-BE92-422F-B681-AC857DEABAC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C015C8BB-BE92-422F-B681-AC857DEABAC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79C0A050-CA6C-4B0F-B567-3EA24D625B98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEBD82BA-6268-426D-9BFE-62BCD4C27471</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4CE4528-F602-48C2-BFB3-71BA78933B1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF8EFD70-FC46-46DA-85B7-5C40E39C3722</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A961741E-E065-4C7A-9D5B-6F59E283C2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AEFA51EF-3FC8-4FE7-80AE-44FB778C99B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2DB7889-9B91-46E7-BED1-ED9A8C9585C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AAFDEB2-9F81-418F-B5D6-479D577D6454</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4484868-27E4-45A9-8D6C-637B522C67BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FDFC63C-AF80-4ECA-9C00-9C778D158009</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D48F2872-A471-417E-A025-89F82414CD22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03FD1C11-F481-4640-8C86-A66946BB6BDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2104ACC-6C1D-407E-A787-182694534FBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37B8FB00-AFF1-4723-AE09-C0DE64D9690C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F01DC62C-462E-40B8-9BDE-FAF5660EC33C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54A1957A-7C58-490D-9E1F-CE716CDFEEC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Arthur Pinheiro</string>
	<key>description</key>
	<string>Optimize, encrypt and manipulate PDF files</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred PDF Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>Enter a resolution in dpi (e.g., 150).</string>
				<key>text</key>
				<string>Optimize the selected PDF file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>01BD5A6C-0E09-40B3-AFDB-AFE7A834CEA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python deskew.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>optimize.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6FDFC63C-AF80-4ECA-9C00-9C778D158009</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Optimize</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>1C706960-938F-4C14-899F-4A2675685FBB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D4484868-27E4-45A9-8D6C-637B522C67BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>abs_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>674BC503-FB7B-435E-9AB0-54DA1DE7D1AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>encrypt.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>79C0A050-CA6C-4B0F-B567-3EA24D625B98</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Encrypt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>8C94D95D-1805-46BC-91D1-29027BFD475E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter a password.</string>
				<key>text</key>
				<string>Encrypt the selected PDF file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC2CDCE9-1989-4801-A7CA-4F5C268B2790</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C015C8BB-BE92-422F-B681-AC857DEABAC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>abs_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A3993CDF-ED16-4F35-9D9C-BDA5B3C7C1E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Merge</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A6A91646-8622-45F4-B763-4A6ACBAFD08C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>merge.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF8EFD70-FC46-46DA-85B7-5C40E39C3722</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter the output filename without extension.</string>
				<key>text</key>
				<string>Merge the selected PDF files</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CEBD82BA-6268-426D-9BFE-62BCD4C27471</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B4CE4528-F602-48C2-BFB3-71BA78933B1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>abs_paths</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2412A11E-00A7-400B-90FD-BAEBC00EA23A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>readonly remote_info_plist='https://raw.githubusercontent.com/xilopaint/alfred-pdf-tools/master/src/info.plist' # URL of remote info.plist
readonly workflow_url='https://github.com/xilopaint/alfred-pdf-tools/raw/master/Alfred%20PDF%20Tools.alfredworkflow' # URL to directly download workflow or workflow download page
readonly workflow_type='workflow' # Either 'workflow' if workflow_url points to direct download, or 'page' if it points to download page
readonly frequency_check='15' # Days between update checks

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED UNLESS YOU KNOW WHAT YOU ARE DOING
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local readonly terminal_notifier="$(find . -name terminal-notifier.app)"

  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}"/Contents/MacOS/terminal-notifier -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
  else
    osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
  fi
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${workflow_type}" =~ ^(workflow|page)$ ]] || abort "'workflow_type' (${workflow_type}) needs to be one of 'workflow' or 'page'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" != "${remote_version}" ]]; then
    if [[ "${workflow_type}" == 'page' ]]; then
      notification 'Opening download page…'
      open "${workflow_url}"
    else
      if url_exists "${workflow_url}"; then
        notification 'Downloading and installing…'
        curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${workflow_url}"
        open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
      else
        abort "'workflow_url' (${workflow_url}) appears to not be reachable."
      fi # url_exists
    fi # workflow_type
  else
    touch "${local_info_plist}" # Reset timer by touching local file
  fi # diff
fi #find</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AEFA51EF-3FC8-4FE7-80AE-44FB778C99B3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Alfred PDF Tools</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A961741E-E065-4C7A-9D5B-6F59E283C2E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>split_page_count.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D6F7F2A-1518-4529-98BA-331FC0F0FBE2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter the maximum amount of pages for each new PDF file.</string>
				<key>text</key>
				<string>Split the selected PDF file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D2DB7889-9B91-46E7-BED1-ED9A8C9585C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Split by Page Count</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>66FA4E4A-8144-4562-A253-E299707EBD64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>abs_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0B7E15AA-EDD5-4EBD-90CE-C2DBD3484C16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2AAFDEB2-9F81-418F-B5D6-479D577D6454</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>split_file_size.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>264B67E5-5011-4DA7-8AF3-4175185C5C81</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Split by File Size</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>D48F2872-A471-417E-A025-89F82414CD22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter the maximum file size in MB for each new PDF file.</string>
				<key>text</key>
				<string>Split the selected PDF file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F01DC62C-462E-40B8-9BDE-FAF5660EC33C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>54A1957A-7C58-490D-9E1F-CE716CDFEEC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>abs_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>03FD1C11-F481-4640-8C86-A66946BB6BDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>slice.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>166CC59B-C6E1-4E1E-A777-BEEB3B50E6FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter start, stop and step arguments separated by commas (e.g., "1, 10, 1").</string>
				<key>text</key>
				<string>Slice the selected PDF file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>338AF90E-9867-42D0-A94A-1FF88BD3FD5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Slice</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>E2104ACC-6C1D-407E-A787-182694534FBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3DF69321-93E6-4FC8-98F3-2BA07D475BBF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>abs_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>37B8FB00-AFF1-4723-AE09-C0DE64D9690C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred PDF Tools

A workflow for [Alfred 3][1].  

## Description

Optimize, encrypt and manipulate PDF files.

## Download and Installation

Download the workflow file either from [GitHub releases][2] and install it by double-clicking on `Alfred PDF Tools.alfredworklow`.

## Usage

**Alfred PDF Tools** can be used by the following file actions:

* `Optimize`: Compress and optimize the selected PDF files by entering the intended resolution of the output file (150 dpi is set once no value is input). The document will be improved on the process with increased contrast and text straightening;
* `Encrypt`: Encrypt the selected PDF file by entering a password;
* `Merge`: Merge the selected PDF files and move the source files to trash;
* `Split by Page Count`: Split the selected PDF file by entering the maximum amount of pages for each new PDF file;
* `Split by File Size`: Split the selected PDF file by entering the maximum file size in MB for each new PDF file;
* `Slice`:  Slice the selected PDF file by entering start, stop and step arguments separated by commas (e.g., "10, 20, 1" will create a PDF file from pages 10 to 20 of the source file).

## Contribute

To report a bug or submit a feature request, please [create an issue][3] or [submit a pull request][4] on GitHub.

## Credits

This workflow relies on [PyPDF2][5] library currently maintained by [Phaseit, Inc.][6], [K2pdfopt][7] by Johannes Buchnerand, [Send2Trash][8] by Virgil Dupras and [OneUpdater][9] by Vítor Galvão.

## License

**Alfred PDF Tools** code is released under the [MIT License][10].

[1]:http://www.alfredapp.com/
[2]:https://github.com/xilopaint/alfred-pdf-tools/releases/latest
[3]:https://github.com/xilopaint/alfred-pdf-tools/issues
[4]:https://github.com/xilopaint/alfred-pdf-tools/pulls
[5]:https://github.com/mstamy2/PyPDF2
[6]:http://phaseit.net
[7]:http://www.willus.com/k2pdfopt/
[8]:https://github.com/hsoft/send2trash
[9]:https://github.com/vitorgalvao/alfred-workflows/tree/master/OneUpdater
[10]:https://opensource.org/licenses/MIT</string>
	<key>uidata</key>
	<dict>
		<key>01BD5A6C-0E09-40B3-AFDB-AFE7A834CEA7</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>03FD1C11-F481-4640-8C86-A66946BB6BDB</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>0B7E15AA-EDD5-4EBD-90CE-C2DBD3484C16</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>166CC59B-C6E1-4E1E-A777-BEEB3B50E6FB</key>
		<dict>
			<key>note</key>
			<string>Slice</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>1C706960-938F-4C14-899F-4A2675685FBB</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>2412A11E-00A7-400B-90FD-BAEBC00EA23A</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>264B67E5-5011-4DA7-8AF3-4175185C5C81</key>
		<dict>
			<key>note</key>
			<string>Split by File Size</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>2AAFDEB2-9F81-418F-B5D6-479D577D6454</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>338AF90E-9867-42D0-A94A-1FF88BD3FD5C</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>37B8FB00-AFF1-4723-AE09-C0DE64D9690C</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>3D6F7F2A-1518-4529-98BA-331FC0F0FBE2</key>
		<dict>
			<key>note</key>
			<string>Split by Page Count</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>3DF69321-93E6-4FC8-98F3-2BA07D475BBF</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>54A1957A-7C58-490D-9E1F-CE716CDFEEC8</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>66FA4E4A-8144-4562-A253-E299707EBD64</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>674BC503-FB7B-435E-9AB0-54DA1DE7D1AA</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>6FDFC63C-AF80-4ECA-9C00-9C778D158009</key>
		<dict>
			<key>note</key>
			<string>Optimize</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>79C0A050-CA6C-4B0F-B567-3EA24D625B98</key>
		<dict>
			<key>note</key>
			<string>Encrypt</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>8C94D95D-1805-46BC-91D1-29027BFD475E</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>A3993CDF-ED16-4F35-9D9C-BDA5B3C7C1E3</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>A6A91646-8622-45F4-B763-4A6ACBAFD08C</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>A961741E-E065-4C7A-9D5B-6F59E283C2E0</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>AEFA51EF-3FC8-4FE7-80AE-44FB778C99B3</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>B4CE4528-F602-48C2-BFB3-71BA78933B1E</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>BC2CDCE9-1989-4801-A7CA-4F5C268B2790</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>C015C8BB-BE92-422F-B681-AC857DEABAC1</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>CEBD82BA-6268-426D-9BFE-62BCD4C27471</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>CF8EFD70-FC46-46DA-85B7-5C40E39C3722</key>
		<dict>
			<key>note</key>
			<string>Merge</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>D2DB7889-9B91-46E7-BED1-ED9A8C9585C4</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>D4484868-27E4-45A9-8D6C-637B522C67BA</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>D48F2872-A471-417E-A025-89F82414CD22</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>E2104ACC-6C1D-407E-A787-182694534FBA</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>F01DC62C-462E-40B8-9BDE-FAF5660EC33C</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>2.1</string>
	<key>webaddress</key>
	<string>https://github.com/xilopaint</string>
</dict>
</plist>
