<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xilopaint.alfredapp.pdftools</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>03FD1C11-F481-4640-8C86-A66946BB6BDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F01DC62C-462E-40B8-9BDE-FAF5660EC33C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B7E15AA-EDD5-4EBD-90CE-C2DBD3484C16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2DB7889-9B91-46E7-BED1-ED9A8C9585C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>166CC59B-C6E1-4E1E-A777-BEEB3B50E6FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A961741E-E065-4C7A-9D5B-6F59E283C2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2412A11E-00A7-400B-90FD-BAEBC00EA23A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEBD82BA-6268-426D-9BFE-62BCD4C27471</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>264B67E5-5011-4DA7-8AF3-4175185C5C81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A961741E-E065-4C7A-9D5B-6F59E283C2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AAFDEB2-9F81-418F-B5D6-479D577D6454</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D6F7F2A-1518-4529-98BA-331FC0F0FBE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>338AF90E-9867-42D0-A94A-1FF88BD3FD5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DF69321-93E6-4FC8-98F3-2BA07D475BBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37B8FB00-AFF1-4723-AE09-C0DE64D9690C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>338AF90E-9867-42D0-A94A-1FF88BD3FD5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D6F7F2A-1518-4529-98BA-331FC0F0FBE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A961741E-E065-4C7A-9D5B-6F59E283C2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DF69321-93E6-4FC8-98F3-2BA07D475BBF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>166CC59B-C6E1-4E1E-A777-BEEB3B50E6FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54A1957A-7C58-490D-9E1F-CE716CDFEEC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>264B67E5-5011-4DA7-8AF3-4175185C5C81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66FA4E4A-8144-4562-A253-E299707EBD64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B7E15AA-EDD5-4EBD-90CE-C2DBD3484C16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6A91646-8622-45F4-B763-4A6ACBAFD08C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2412A11E-00A7-400B-90FD-BAEBC00EA23A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4CE4528-F602-48C2-BFB3-71BA78933B1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF8EFD70-FC46-46DA-85B7-5C40E39C3722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEBD82BA-6268-426D-9BFE-62BCD4C27471</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4CE4528-F602-48C2-BFB3-71BA78933B1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF8EFD70-FC46-46DA-85B7-5C40E39C3722</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A961741E-E065-4C7A-9D5B-6F59E283C2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2DB7889-9B91-46E7-BED1-ED9A8C9585C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AAFDEB2-9F81-418F-B5D6-479D577D6454</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D48F2872-A471-417E-A025-89F82414CD22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03FD1C11-F481-4640-8C86-A66946BB6BDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2104ACC-6C1D-407E-A787-182694534FBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37B8FB00-AFF1-4723-AE09-C0DE64D9690C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F01DC62C-462E-40B8-9BDE-FAF5660EC33C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54A1957A-7C58-490D-9E1F-CE716CDFEEC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Arthur Pinheiro</string>
	<key>description</key>
	<string>Merge, split and slice PDF files</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred PDF Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Merge</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A6A91646-8622-45F4-B763-4A6ACBAFD08C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>111</integer>
				<key>script</key>
				<string>python merge.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF8EFD70-FC46-46DA-85B7-5C40E39C3722</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter the output filename without extension.</string>
				<key>text</key>
				<string>Merge the selected PDF files</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CEBD82BA-6268-426D-9BFE-62BCD4C27471</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B4CE4528-F602-48C2-BFB3-71BA78933B1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>abs_paths</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2412A11E-00A7-400B-90FD-BAEBC00EA23A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python split_page_count.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D6F7F2A-1518-4529-98BA-331FC0F0FBE2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter the maximum amount of pages for each new PDF file.</string>
				<key>text</key>
				<string>Split the selected PDF file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D2DB7889-9B91-46E7-BED1-ED9A8C9585C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Split by Page Count</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>66FA4E4A-8144-4562-A253-E299707EBD64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>abs_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0B7E15AA-EDD5-4EBD-90CE-C2DBD3484C16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2AAFDEB2-9F81-418F-B5D6-479D577D6454</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Alfred PDF Suite</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A961741E-E065-4C7A-9D5B-6F59E283C2E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python split_file_size.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>264B67E5-5011-4DA7-8AF3-4175185C5C81</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Split by File Size</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>D48F2872-A471-417E-A025-89F82414CD22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter the maximum file size in MB for each new PDF file.</string>
				<key>text</key>
				<string>Split the selected PDF file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F01DC62C-462E-40B8-9BDE-FAF5660EC33C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>54A1957A-7C58-490D-9E1F-CE716CDFEEC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>abs_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>03FD1C11-F481-4640-8C86-A66946BB6BDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python slice.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>166CC59B-C6E1-4E1E-A777-BEEB3B50E6FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter start, stop and step arguments separated by commas (e.g., "1, 10, 1").</string>
				<key>text</key>
				<string>Slice the selected PDF file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>338AF90E-9867-42D0-A94A-1FF88BD3FD5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>name</key>
				<string>Slice</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>E2104ACC-6C1D-407E-A787-182694534FBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3DF69321-93E6-4FC8-98F3-2BA07D475BBF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>abs_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>37B8FB00-AFF1-4723-AE09-C0DE64D9690C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03FD1C11-F481-4640-8C86-A66946BB6BDB</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>0B7E15AA-EDD5-4EBD-90CE-C2DBD3484C16</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>166CC59B-C6E1-4E1E-A777-BEEB3B50E6FB</key>
		<dict>
			<key>note</key>
			<string>Slice</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>2412A11E-00A7-400B-90FD-BAEBC00EA23A</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>264B67E5-5011-4DA7-8AF3-4175185C5C81</key>
		<dict>
			<key>note</key>
			<string>Split by File Size</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>2AAFDEB2-9F81-418F-B5D6-479D577D6454</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>338AF90E-9867-42D0-A94A-1FF88BD3FD5C</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>37B8FB00-AFF1-4723-AE09-C0DE64D9690C</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>3D6F7F2A-1518-4529-98BA-331FC0F0FBE2</key>
		<dict>
			<key>note</key>
			<string>Split by page count</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>3DF69321-93E6-4FC8-98F3-2BA07D475BBF</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>54A1957A-7C58-490D-9E1F-CE716CDFEEC8</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>66FA4E4A-8144-4562-A253-E299707EBD64</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>A6A91646-8622-45F4-B763-4A6ACBAFD08C</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>A961741E-E065-4C7A-9D5B-6F59E283C2E0</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>B4CE4528-F602-48C2-BFB3-71BA78933B1E</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>CEBD82BA-6268-426D-9BFE-62BCD4C27471</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>CF8EFD70-FC46-46DA-85B7-5C40E39C3722</key>
		<dict>
			<key>note</key>
			<string>Merge</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>D2DB7889-9B91-46E7-BED1-ED9A8C9585C4</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>D48F2872-A471-417E-A025-89F82414CD22</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>E2104ACC-6C1D-407E-A787-182694534FBA</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>F01DC62C-462E-40B8-9BDE-FAF5660EC33C</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/xilopaint</string>
</dict>
</plist>
