# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint bandit
    - name: Lint with Pylint
      run: |
        pylint $(git ls-files '*.py')
    - name: Lint with Bandit
      run: |
        bandit -c .bandit src/alfred_pdf_tools.py src/workflow/*.py tests/*.py
    - name: Test with unittest
      run: |
        python -m unittest discover tests
